section {
  width: 100vw;
  height: 100vh;
  color: #fff;
}

.container {width: 960px; margin: auto;}

nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  background-color: transparent;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  text-align: left;
  margin-right: 40px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

nav li a { display: block; }

.nav-mobile {
  display: none;
  font-weight: bold;
  width: 100%;
}

#section1 { background-color: #F5624D; }

#section2 { background-color: #CC231E; }

#section3 { background-color: #34A65F; }

.click-me {
  width: 150px;
  height: 30px;
  background: #435AB8;
  color: white;
  text-align: center;
  line-height: 30px;
}

.click-me a {
  display: block;
  color: white;
}
 @media (max-width: 768px) {

nav ul {
  display: none;
  background-color: white;
  margin-left: -30px;
}

nav li {
  width: 100%;
  padding-left: 30px;
}

.nav-mobile {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
}
 @media (min-width: 769px) {

nav ul { display: block !important; }
}